/* #BE6227  for banners */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-top: 10px;
}

.navbar-brand:after {
    clear: both;
  }

.navbar-nav {
    position: absolute;
    float: right;
}

.navbar-footer {
    position: absolute;
    float: left;
}

.img-thumbnail {
    position: relative;
    left: 2em;
}

.post-content {
    bottom: 2em;
    position: relative;
    justify-content: space-between

}

a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: #ffffff;
}

.foot-link {
    align-content: left;
}

.service-area {
    background: black;
    opacity: .9;
  }
  
  .single-service .top {
    height: 260px;
    background: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  
  .single-service .top .content span {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-size: 36px;
    color: black;
    opacity: .7;
  }
  
  .single-service .top .content h3 {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #6287a2;
    margin-top: 20px;
  }
  
  .single-service .bottom {
    height: 260px;
    background: #6f7598;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    color: #fff;
  }
  
  .single-service:hover .top {
    background: black;
    opacity: .7;
  }
  
  .single-service:hover .top .content span {
    color: #fff;
  }
  
  .single-service:hover .top .content h3 {
    color: #fff;
  }

  .papers,.papers:before,.papers:after {
	background-color:#fff;
	border:1px solid #ccc;
	box-shadow:inset 0 0 30px rgba(0,0,0,0.1),1px 1px 3px rgba(0,0,0,0.2);
}
.papers {
	position:relative;
    width:90%;
    height:100%;
	padding:2em;
	margin:0px auto;
	margin-top:40px;
	font-size:12px;
}
.papers:before,.papers:after {
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	-webkit-transform:rotateZ(2.5deg);
	-o-transform:rotate(2.5deg);
	transform:rotateZ(2.5deg);
	z-index:-1;
}
.papers:after {
	-webkit-transform:rotateZ(-2.5deg);
	-o-transform:rotate(-2.5deg);
	transform:rotateZ(-2.5deg);
}
.papers h1 {
	font-size:1.8em;
	font-weight:normal;
	text-align:center;
	padding:0.2em 0;
	margin:0;
	border-top:1px solid #ddd;
	border-bottom:2px solid #ddd;
}
.papers p {
	text-align:left;
	margin:1.5em 0;
}
.papers img {
    max-width:100%;
    max-height: 100%;
	margin-bottom: 5px;
}

.resume h3 h4{
  text-align: center;
  margin: 2px !important;
}